Repository RobMarv1n/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format, npm run stylelint

.lintstagedrc.json:

{
  "src/**/*.{ts,js,tsx,jsx}": ["npm run lint", "npm run format"],
  "src/**/*.{css,scss}": ["npm run stylelint", "npm run format"]
}

feat: add ClearCartNotification component
  src/pages/about-us/ui/ProfileCard/ProfileCard.module.css
  src/pages/cart/ui/CartProducts/CartProducts.tsx
  src/pages/cart/ui/ClearCartNotification/ClearCartNotification.module.css
  src/pages/cart/ui/ClearCartNotification/ClearCartNotification.tsx
Due: npm run lint, npm run format, npm run stylelint

feat: add cart cleaning
  src/pages/cart/ui/CartProducts/CartProducts.tsx
  src/pages/cart/ui/ClearCartNotification/ClearCartNotification.tsx
  src/shared/api/clientApi/ClientApi.ts
  src/shared/api/clientApi/constants.ts
Due: npm run lint, npm run format

fix: update cart count
  src/pages/cart/ui/CartProduct/CartCounter/CartCounter.tsx
  src/pages/cart/ui/CartProduct/CartProduct.tsx
  src/shared/api/clientApi/ClientApi.ts
Due: npm run lint, npm run format

refactor: add cartCountContext
  src/app/Router.tsx
  src/app/layouts/Layout.tsx
  src/pages/cart/ui/Cart.tsx
  src/pages/cart/ui/CartContexts/CartContexts.tsx
  src/pages/cart/ui/CartContexts/CartCountProvider.tsx
  src/pages/cart/ui/CartContexts/types.ts
  src/pages/cart/ui/CartProduct/CartCounter/CartCounter.tsx
  src/pages/cart/ui/CartProduct/CartProduct.tsx
  src/pages/cart/ui/CartProducts/CartProducts.tsx
  src/pages/cart/ui/ClearCartNotification/ClearCartNotification.tsx
  src/pages/catalog/ui/Catalog.tsx
  src/pages/catalog/ui/ProductCard/ProductCard.tsx
  src/pages/catalog/ui/ProductsList/ProductsList.tsx
  src/pages/login/Login.tsx
  src/pages/product/ui/Product.tsx
  src/widgets/ui/Header/ui/Header.tsx
  src/widgets/ui/ProductDetailed/ui/CartActionButton/CartActionButton.tsx
  src/widgets/ui/ProductDetailed/ui/ProductDetailed.tsx
Due: npm run lint, npm run format

refactor: add cartDataContext
  src/app/Router.tsx
  src/pages/cart/ui/Cart.tsx
  src/pages/cart/ui/CartContexts/CartContexts.tsx
  src/pages/cart/ui/CartContexts/CartCountProvider.tsx
  src/pages/cart/ui/CartContexts/CartDataProvider.tsx
  src/pages/cart/ui/CartContexts/types.ts
  src/pages/cart/ui/CartCoupon/CartCoupon.tsx
  src/pages/cart/ui/CartPrice/CartPrice.tsx
  src/pages/cart/ui/CartProduct/CartCounter/CartCounter.tsx
  src/pages/cart/ui/CartProduct/CartProduct.tsx
  src/pages/cart/ui/CartProducts/CartProducts.tsx
  src/pages/cart/ui/ClearCartNotification/ClearCartNotification.tsx
  src/pages/catalog/ui/Catalog.tsx
  src/pages/product/ui/Product.tsx
  src/pages/profile/ui/Profile.tsx
Due: npm run lint, npm run format

fix: update test for Header
  src/widgets/ui/tests/Header/header.test.tsx
Due: npm run lint, npm run format

feat: add loader-spinner
  package-lock.json
  package.json
  src/pages/catalog/ui/Catalog.tsx
  src/pages/catalog/ui/catalog.css
Due: npm run lint, npm run format, npm run stylelint

feat: add loader-spinner during change productList
  src/pages/catalog/ui/Catalog.tsx
Due: npm run lint, npm run format

feat: add loader during add to cart
  src/pages/catalog/ui/ProductCard/ProductCard.tsx
Due: npm run lint, npm run format

feat: add delay for loader during add to cart
  src/pages/catalog/ui/Catalog.tsx
  src/pages/catalog/ui/ProductCard/ProductCard.tsx
Due: npm run lint, npm run format

test: add test for AccountAddresses component
  src/pages/profile/tests/AccountAddresses.test.tsx
Due: npm run lint, npm run format

fix: update getProducts and searchProducts methods
  src/shared/api/clientApi/ClientApi.ts
Due: npm run lint, npm run format

test: add tests for AccountAddressForm component
  src/pages/profile/tests/AccountAddressForm.test.tsx
Due: npm run lint, npm run format

refactor: move parser and utils to separate folders
  src/shared/api/clientApi/ClientApi.ts
  src/shared/api/clientApi/parsers/parseCartData.ts
  src/shared/api/clientApi/parsers/parseCategories.ts
  src/shared/api/clientApi/parsers/parseProduct.ts
  src/shared/api/clientApi/parsers/parseProfileData.ts
  src/shared/api/clientApi/utils/CountryCodes.ts
  src/shared/api/clientApi/utils/createSignUpBody.ts
  src/shared/api/clientApi/utils/getCountry.ts
Due: npm run lint, npm run format

refactor: move cart to separate class
  src/pages/cart/ui/Cart.tsx
  src/pages/cart/ui/CartCoupon/CartCoupon.tsx
  src/pages/cart/ui/CartProduct/CartCounter/CartCounter.tsx
  src/pages/cart/ui/CartProduct/CartProduct.tsx
  src/pages/cart/ui/ClearCartNotification/ClearCartNotification.tsx
  src/pages/catalog/ui/Catalog.tsx
  src/pages/catalog/ui/ProductCard/ProductCard.tsx
  src/pages/login/Login.tsx
  src/shared/api/clientApi/ClientApi.ts
  src/shared/api/clientApi/parsers/parseCartData.ts
  src/shared/api/clientApi/parsers/parseCategories.ts
  src/shared/api/clientApi/parsers/parseProduct.ts
  src/shared/api/clientApi/parsers/parseProfileData.ts
  src/shared/api/clientApi/subclasses/CartApi.ts
  src/shared/api/clientApi/utils/createSignUpBody.ts
  src/widgets/ui/Header/ui/Header.tsx
  src/widgets/ui/ProductDetailed/ui/CartActionButton/CartActionButton.tsx
Due: npm run lint, npm run format

test: add tests for zipCodeValidation function
  src/shared/tests/validation/zipCodeValidation.test.ts
Due: npm run lint, npm run format

test: add tests for ageValidation.ts
  src/shared/tests/validation/ageValidation.test.ts
Due: npm run lint, npm run format

test: add tests for ProductDetailed.tsx
  src/widgets/ui/tests/ProductDetailed/ProductDetailed.test.tsx
Due: npm run lint, npm run format

test: add tests for AccountSettings.tsx
  src/pages/profile/tests/AccountSettings.test.tsx
Due: npm run lint, npm run format

test: add tests for SwiperSlider.tsx
  src/shared/tests/SwiperSlider/SwiperSlider.test.tsx
Due: npm run lint, npm run format

refactor: move product methods to separate class
  src/pages/catalog/ui/Catalog.tsx
  src/pages/catalog/ui/CatalogNavigation/CatalogNavigation.tsx
  src/pages/catalog/ui/CatalogPriceFilter/CatalogPriceFilter.tsx
  src/pages/catalog/ui/CategoriesList/CategoriesList.tsx
  src/pages/catalog/ui/RatingList/RatingList.tsx
  src/pages/catalog/ui/SearchInput/SearchInput.tsx
  src/pages/catalog/ui/SortSelect/SortSelect.tsx
  src/pages/catalog/ui/SubcategoriesList/SubcategoriesList.tsx
  src/pages/product/ui/Product.tsx
  src/shared/api/clientApi/ClientApi.ts
  src/shared/api/clientApi/parsers/parseProduct.ts
  src/shared/api/clientApi/subclasses/ProductApi.ts
Due: npm run lint, npm run format

test: add tests for cityValidation.ts
  src/shared/tests/validation/cityValidation.test.ts
Due: npm run lint, npm run format

test: add tests for emailValidation.ts
  src/shared/tests/validation/emailValidation.test.ts
Due: npm run lint, npm run format

refactor: move profile methods to separate class
  src/pages/profile/ui/components/AccountAddressForm.tsx
  src/pages/profile/ui/components/AccountAddresses.tsx
  src/pages/profile/ui/components/AccountSettings.tsx
  src/pages/profile/ui/components/PasswordChange.tsx
  src/shared/api/clientApi/ClientApi.ts
  src/shared/api/clientApi/subclasses/ProfileApi.ts
Due: npm run lint, npm run format

feat: update transfer apiRoot to sepatate classes
  src/shared/api/clientApi/ClientApi.ts
  src/shared/api/clientApi/subclasses/CartApi.ts
  src/shared/api/clientApi/subclasses/ProductApi.ts
  src/shared/api/clientApi/subclasses/ProfileApi.ts
Due: npm run lint, npm run format

feat: add home page styling
  src/pages/catalog/ui/catalog.css
  src/pages/home/Home.module.css
  src/pages/home/Home.tsx
  src/pages/home/home-swiper-slider/HomeSwiperSlider.tsx
  src/pages/home/home-swiper-slider/assets/home-image-1.png
  src/pages/home/home-swiper-slider/assets/home-image-2.png
  src/pages/home/home-swiper-slider/assets/home-image-3.png
  src/pages/home/home-swiper-slider/home-swiper-slider.css
  src/pages/home/home.css
  src/shared/ui/Icon/ArrowIcon.tsx
Due: npm run lint, npm run format, npm run stylelint

feat: move discount code from slider
  src/pages/home/home-swiper-slider/HomeSwiperSlider.tsx
  src/pages/home/home-swiper-slider/home-swiper-slider.css
Due: npm run lint, npm run format, npm run stylelint

fix: update setSlideIndex in HomeSlider
  src/pages/home/home-swiper-slider/HomeSwiperSlider.tsx
Due: npm run lint, npm run format

feat: add clipboard icon
  src/pages/home/home-swiper-slider/HomeSwiperSlider.tsx
  src/pages/home/home-swiper-slider/home-swiper-slider.css
  src/shared/ui/Icon/ClipboardIcon.tsx
Due: npm run lint, npm run format, npm run stylelint

feat: add grab cursor for slider on home page
  src/pages/home/home-swiper-slider/HomeSwiperSlider.tsx
Due: npm run lint, npm run format

feat: add all category
  src/pages/catalog/ui/Catalog.tsx
  src/pages/catalog/ui/CatalogNavigation/CatalogNavigation.css
  src/pages/catalog/ui/CatalogNavigation/CatalogNavigation.tsx
  src/pages/catalog/ui/CategoriesList/CategoriesList.css
  src/pages/catalog/ui/CategoriesList/CategoriesList.tsx
  src/pages/catalog/ui/FilterItem/FilterItem.css
  src/pages/catalog/ui/ProductCard/ProductCard.css
  src/pages/catalog/ui/RatingList/ratingList.css
  src/pages/catalog/ui/SortSelect/SortSelect.module.css
  src/pages/catalog/ui/SubcategoriesList/SubcategoriesList.css
  src/pages/catalog/ui/SubcategoriesList/SubcategoriesList.tsx
  src/shared/api/clientApi/constants.ts
  src/shared/api/clientApi/parsers/parseCategories.ts
  src/shared/api/clientApi/subclasses/ProductApi.ts
  src/shared/api/clientApi/types.ts
Due: npm run lint, npm run format, npm run stylelint

feat: add categories to product page
  src/pages/product/ui/Product.tsx
  src/shared/api/clientApi/parsers/parseProduct.ts
  src/shared/api/clientApi/subclasses/ProductApi.ts
  src/shared/api/clientApi/types.ts
  src/widgets/ui/ProductDetailed/ui/ProductDetailed.tsx
Due: npm run lint, npm run format

feat: add rating to product page
  src/widgets/ui/ProductDetailed/ui/ProductDetailed.module.css
  src/widgets/ui/ProductDetailed/ui/ProductDetailed.tsx
Due: npm run lint, npm run format, npm run stylelint

fix: delete categoryName in product and update test ProductDetailed
  src/shared/api/clientApi/constants.ts
  src/shared/api/clientApi/subclasses/ProductApi.ts
  src/widgets/ui/tests/ProductDetailed/ProductDetailed.test.tsx
Due: npm run lint, npm run format

fix: fix bag with sortin
  src/shared/api/clientApi/subclasses/ProductApi.ts
Due: npm run lint, npm run format

feat: add CatalogContext
  src/app/Router.tsx
  src/pages/catalog/ui/Catalog.tsx
  src/pages/catalog/ui/CatalogContext/CatalogContext.tsx
  src/pages/catalog/ui/CatalogContext/CatalogProvider.tsx
  src/pages/catalog/ui/CatalogContext/types.ts
  src/pages/catalog/ui/CatalogPriceFilter/CatalogPriceFilter.tsx
  src/pages/catalog/ui/RatingList/RatingList.tsx
Due: npm run lint, npm run format

feat: add functionality for reset button
  src/pages/catalog/ui/Catalog.tsx
  src/pages/catalog/ui/CatalogContext/CatalogContext.tsx
  src/pages/catalog/ui/CatalogContext/CatalogProvider.tsx
  src/pages/catalog/ui/CatalogContext/types.ts
  src/pages/catalog/ui/CatalogPriceFilter/CatalogPriceFilter.tsx
  src/shared/api/clientApi/subclasses/ProductApi.ts
Due: npm run lint, npm run format

Revert "Release/revision of project"
  src/app/Router.tsx
  src/pages/catalog/ui/Catalog.tsx
  src/pages/catalog/ui/CatalogContext/CatalogContext.tsx
  src/pages/catalog/ui/CatalogContext/CatalogProvider.tsx
  src/pages/catalog/ui/CatalogContext/types.ts
  src/pages/catalog/ui/CatalogNavigation/CatalogNavigation.css
  src/pages/catalog/ui/CatalogNavigation/CatalogNavigation.tsx
  src/pages/catalog/ui/CatalogPriceFilter/CatalogPriceFilter.tsx
  src/pages/catalog/ui/CategoriesList/CategoriesList.tsx
  src/pages/catalog/ui/FilterItem/FilterItem.css
  src/pages/catalog/ui/ProductCard/ProductCard.css
  src/pages/catalog/ui/RatingList/RatingList.tsx
  src/pages/catalog/ui/RatingList/ratingList.css
  src/pages/catalog/ui/SortSelect/SortSelect.module.css
  src/pages/catalog/ui/SubcategoriesList/SubcategoriesList.css
  src/pages/catalog/ui/SubcategoriesList/SubcategoriesList.tsx
  src/pages/product/ui/Product.tsx
  src/shared/api/clientApi/constants.ts
  src/shared/api/clientApi/parsers/parseCategories.ts
  src/shared/api/clientApi/parsers/parseProduct.ts
  src/shared/api/clientApi/subclasses/ProductApi.ts
  src/shared/api/clientApi/types.ts
  src/widgets/ui/ProductDetailed/ui/ProductDetailed.module.css
  src/widgets/ui/ProductDetailed/ui/ProductDetailed.tsx
  src/widgets/ui/tests/ProductDetailed/ProductDetailed.test.tsx
Due: npm run lint, npm run format, npm run stylelint

fix: fix bag during start catalog page
  src/pages/catalog/ui/Catalog.tsx
Due: npm run lint, npm run format

chore(config): add configuration for coverage in vitest
  vitest.config.js
Due: none
