Repository RobMarv1n/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format, npm run stylelint

.lintstagedrc.json:

{
  "src/**/*.{ts,js,tsx,jsx}": ["npm run lint", "npm run format"],
  "src/**/*.{css,scss}": ["npm run stylelint", "npm run format"]
}

chore: change the location of files and folders
  src/app/Router.tsx
  src/pages/registration/model/types.ts
  src/pages/registration/ui/Registration.tsx
  src/pages/registration/ui/registration.css
Due: npm run lint, npm run format, npm run stylelint

chore: add postal-code-validator library
  package-lock.json
  package.json
Due: none

feat: implement Layout component as wrapper to pages, add base styles
  src/app/Router.tsx
  src/app/layouts/Layout.tsx
  src/app/styles/base/settings.css
Due: npm run lint, npm run format, npm run stylelint

feat: add RegistrationFieldState type and update RegistrationFormData type
  src/pages/registration/model/types.ts
Due: npm run lint, npm run format

feat: add emailValidation function
  src/pages/registration/model/validation/validationEmail.ts
Due: npm run lint, npm run format

feat: add function for disable registration form submit button
  src/pages/registration/model/validation/isRegistrationButtonDisabled.ts
Due: npm run lint, npm run format

feat: add default values for react hook form
  src/pages/registration/lib/reactHookFormDefaultValues.ts
Due: npm run lint, npm run format

feat: add validation for zip code
  src/pages/registration/model/validation/validationZipCode.ts
Due: npm run lint, npm run format

feat: add validation function for First Name and Last Name
  src/pages/registration/model/validation/validationName.ts
Due: npm run lint, npm run format

feat: add validation function for password
  src/pages/registration/model/validation/validationPassword.ts
Due: npm run lint, npm run format

feat: add age validation function
  src/pages/registration/model/validation/ageValidation.ts
Due: npm run lint, npm run format

feat: add styles to Error page, also add LinkButton component
  src/pages/error-page/ErrorPage.module.css
  src/pages/error-page/ErrorPage.tsx
  src/pages/error-page/assets/img/404.png
  src/shared/ui/LinkButton/LinkButton.module.css
  src/shared/ui/LinkButton/LinkButton.tsx
  src/shared/ui/LinkButton/index.ts
Due: npm run lint, npm run format, npm run stylelint

feat: add form fields, add validation for fields
  src/pages/registration/ui/Registration.tsx
Due: npm run lint, npm run format

feat: add fields with checkboxes to the address
  src/pages/registration/lib/reactHookFormDefaultValues.ts
  src/pages/registration/model/types.ts
Due: npm run lint, npm run format

feat: add autocomplete attribute for email and password
  src/pages/registration/ui/Registration.tsx
Due: npm run lint, npm run format

feat: add styles to Login page, also add Button component
  src/app/styles/base/settings.css
  src/pages/login/Login.tsx
  src/pages/login/login.css
  src/shared/styles/forms.css
  src/shared/ui/Button/Button.module.css
  src/shared/ui/Button/Button.tsx
  src/shared/ui/Button/index.ts
  src/widgets/ui/EmailInput.tsx
  src/widgets/ui/PasswordInput.tsx
Due: npm run lint, npm run format, npm run stylelint

fix: fix a bug where validation of blank optional fields was performed
  src/pages/registration/ui/Registration.tsx
Due: npm run lint, npm run format

feat: add netlify redirects
  public/_redirects
Due: none

feat: add client-api
  .env.example
  package-lock.json
  package.json
  src/pages/login/Login.tsx
  src/pages/registration/ui/Registration.tsx
  src/utils/clientApi/ClientApi.ts
  src/utils/clientApi/CountryCodes.ts
  src/utils/clientApi/CreateApiRoots.ts
  src/utils/clientApi/types.ts
Due: npm run lint, npm run format

fix: fix the redirect to the correct one for the SPA
  public/_redirects
Due: none

feat: add styles for Register page
  src/pages/login/Login.tsx
  src/pages/login/login.css
  src/pages/registration/ui/Registration.tsx
  src/pages/registration/ui/registration.css
  src/shared/styles/forms.css
Due: npm run lint, npm run format, npm run stylelint

fix: fix zip code validation
  src/pages/registration/model/validation/validationZipCode.ts
Due: npm run lint, npm run format

feat: add messages during login and registration
  src/pages/login/Login.tsx
  src/pages/registration/ui/Registration.tsx
Due: npm run lint, npm run format

feat: add TextInput component
  src/widgets/ui/inputs/TextInput.tsx
Due: npm run lint, npm run format

refactor: move the rules for email validation to the validationEmail file
  src/pages/registration/model/validation/validationEmail.ts
Due: npm run lint, npm run format

refactor: move the rules for password validation to the validationPassword file
  src/pages/registration/model/validation/validationPassword.ts
Due: npm run lint, npm run format

feat: add RegistrationPasswordInput component to the project
  src/widgets/ui/inputs/RegistrationPasswordInput.tsx
Due: npm run lint, npm run format

refactor: replace some fields with react components
  src/pages/registration/ui/Registration.tsx
Due: npm run lint, npm run format

feat: implement Logout button
  src/shared/ui/Icon/LogOutIcon.tsx
  src/shared/ui/LogOutButton/LogOutButton.module.css
  src/shared/ui/LogOutButton/LogOutButton.tsx
  src/shared/ui/LogOutButton/index.ts
  src/widgets/ui/Header/ui/Header.tsx
Due: npm run lint, npm run format, npm run stylelint

feat: add styles to error handling in login and registration
  src/pages/login/Login.tsx
  src/pages/registration/ui/Registration.tsx
Due: npm run lint, npm run format

feat: add redirect logged in user
  src/pages/login/Login.tsx
  src/pages/registration/ui/Registration.tsx
Due: npm run lint, npm run format

chore: rename reactHookFormDefaultValues to RegistrationFormDefaultValues
  src/pages/registration/lib/RegistrationFormDefaultValues.ts
  src/pages/registration/ui/Registration.tsx
Due: npm run lint, npm run format

feat: add a reusable FormInput component
  src/widgets/ui/EmailInput.tsx
  src/widgets/ui/PasswordInput.tsx
  src/widgets/ui/inputs/FormInput.tsx
  src/widgets/ui/inputs/RegistrationPasswordInput.tsx
  src/widgets/ui/inputs/TextInput.tsx
Due: npm run lint, npm run format

chore: rename validation functions and move to shared/validation
  src/pages/registration/model/validation/validationEmail.ts
  src/pages/registration/model/validation/validationPassword.ts
  src/shared/validation/ageValidation.ts
  src/shared/validation/emailValidation.ts
  src/shared/validation/isRegistrationButtonDisabled.ts
  src/shared/validation/nameValidation.ts
  src/shared/validation/passwordValidation.ts
  src/shared/validation/useFomValidation.ts
  src/shared/validation/zipCodeValidation.ts
Due: npm run lint, npm run format

feat: add FormPasswordInput component
  src/widgets/ui/inputs/FormPasswordInput.tsx
Due: npm run lint, npm run format

feat: add autocomplete attribute for FormInput
  src/widgets/ui/inputs/FormInput.tsx
Due: npm run lint, npm run format

feat: add new types for forms
  src/pages/login/model/types.ts
  src/types.ts
Due: npm run lint, npm run format

refactor: replace some fields in the forms with FieldInput components
  src/pages/login/Login.tsx
  src/pages/registration/ui/Registration.tsx
  src/shared/validation/ageValidation.ts
  src/shared/validation/nameValidation.ts
  src/shared/validation/zipCodeValidation.ts
Due: npm run lint, npm run format

feat: add new validation rules
  src/pages/registration/ui/Registration.tsx
  src/shared/validation/cityValidation.ts
  src/shared/validation/nameValidation.ts
  src/shared/validation/streetValidation.ts
  src/shared/validation/zipCodeValidation.ts
  src/widgets/ui/inputs/FormInput.tsx
Due: npm run lint, npm run format

feat: add checkbox submit on registration form
  src/pages/registration/ui/Registration.tsx
Due: npm run lint, npm run format
