Repository RobMarv1n/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format, npm run stylelint

.lintstagedrc.json:

{
  "src/**/*.{ts,js,tsx,jsx}": ["npm run lint", "npm run format"],
  "src/**/*.{css,scss}": ["npm run stylelint", "npm run format"]
}

test: add cartState to manage the cart status during tests
  src/shared/tests/api/subclasses/CartApi/mocks/cartState.ts
Due: npm run lint, npm run format

test: add types for CartApi tests
  src/shared/tests/api/subclasses/CartApi/types/types.ts
Due: npm run lint, npm run format

test: add createMockMoney for CartApi tests
  src/shared/tests/api/subclasses/CartApi/mocks/createMockMoney.ts
Due: npm run lint, npm run format

test: add createMockApiRoot.ts for CartApi tests
  src/shared/tests/api/subclasses/CartApi/mocks/createMockApiRoot.ts
Due: npm run lint, npm run format

test: add tests for CartApi
  src/shared/tests/api/subclasses/CartApi/CartApi.test.ts
Due: npm run lint, npm run format

ci: add ci lighthouse
  .github/workflows/ci.yml
Due: none

feat: add the FormCountrySelect component
  src/widgets/ui/inputs/FormCountrySelect.tsx
Due: npm run lint, npm run format

refactor: replace select in the forms with the Form Country Select component
  src/pages/profile/ui/components/AccountAddressForm.tsx
  src/pages/registration/ui/Registration.tsx
Due: npm run lint, npm run format

chore(config): add lighthouse configuration
  .lighthouserc.js
Due: none

chore(config): update lighthouse config
  .lighthouserc.cjs
Due: none

chore(config): add script for lighthouse in package.json
  package.json
Due: none

chore(config): update lighthouse ci
  .github/workflows/ci.yml
Due: none

chore(config): update config for deploy in gh-pages
  .github/workflows/ci.yml
  .lighthouserc.cjs
Due: none

chore(config): fix the performance check on warn
  .lighthouserc.cjs
Due: none

chore(config): change publish dir for deploy
  .github/workflows/ci.yml
Due: none

chore(config): update configuration for deploy
  .lighthouserc.cjs
Due: none

chore(config): fix config structure
  .lighthouserc.cjs
Due: none

chore(config): add delete files on gh-pages before merge
  .github/workflows/ci.yml
Due: none

chore(config): add new file pattern and change deploy branch
  .github/workflows/ci.yml
  .lighthouserc.cjs
Due: none

chore(config): update config file
  .lighthouserc.cjs
Due: none

chore(config): add lighthouse install, update configs
  .github/workflows/ci.yml
  .lighthouserc.cjs
Due: none

chore(config): delete deploy run, add temporaryPublicStorage
  .github/workflows/ci.yml
  .lighthouserc.cjs
Due: none

chore(config): fix target in config
  .lighthouserc.cjs
Due: none

chore(config): add links to reports in PR
  .github/workflows/ci.yml
Due: none

chore(config): add page display in reports
  .github/workflows/ci.yml
Due: none

chore(config): add the output of metrics in the comments
  .github/workflows/ci.yml
  .lighthouserc.cjs
Due: none

chore(config): fix config errors
  .github/workflows/ci.yml
  .lighthouserc.cjs
Due: none

chore(config): fix bug with incorrect json file
  .github/workflows/ci.yml
Due: none

chore(config): fix bug with incorrect echo
  .github/workflows/ci.yml
Due: none

chore(config): fix path for lighthouseci
  .github/workflows/ci.yml
Due: none

chore(config): update config files
  .github/workflows/ci.yml
  .lighthouserc.cjs
Due: none

chore(config): add gh-token to ci.yml
  .github/workflows/ci.yml
Due: none

chore(config): add permissions in ci.yml
  .github/workflows/ci.yml
Due: none

chore(config): update ci.yml
  .github/workflows/ci.yml
Due: none

chore(config): updater ci.yml
  .github/workflows/ci.yml
Due: none

chore(config): change target to filesystem
  .lighthouserc.cjs
Due: none

chore(config): update configs
  .github/workflows/ci.yml
  .lighthouserc.cjs
Due: none

ci: add ci lighthouse
  .github/workflows/ci.yml
  .lighthouserc.cjs
  package.json
Due: none

feat: implement footer
  public/green-capsicum-1.jpg
  public/payments-sprite.svg
  public/socials-sprite.svg
  src/app/layouts/Layout.tsx
  src/shared/ui/Logo/Logo.module.css
  src/widgets/ui/Footer/assets/arrow.svg
  src/widgets/ui/Footer/config/authors.ts
  src/widgets/ui/Footer/config/footerNav.ts
  src/widgets/ui/Footer/config/paymentMethods.ts
  src/widgets/ui/Footer/config/socials.ts
  src/widgets/ui/Footer/index.ts
  src/widgets/ui/Footer/ui/Copyright/Copyright.module.css
  src/widgets/ui/Footer/ui/Copyright/Copyright.tsx
  src/widgets/ui/Footer/ui/Footer.module.css
  src/widgets/ui/Footer/ui/Footer.tsx
Due: npm run lint, npm run format, npm run stylelint
