Repository RobMarv1n/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format, npm run stylelint

.lintstagedrc.json:

{
  "src/**/*.{ts,js,tsx,jsx}": ["npm run lint", "npm run format"],
  "src/**/*.{css,scss}": ["npm run stylelint", "npm run format"]
}

feat: add pull-request template
  .github/pull_request_template.md
Due: none

feat: add git and amend scripts
  package.json
Due: none

fix: remove git and amend scripts
  package.json
Due: none

Revert "feat: add pull-request template"
  .github/pull_request_template.md
Due: none

style: add margins
  .github/pull_request_template.md
Due: none

feat: create basic folder structure
  src/App.css
  src/App.tsx
  src/Components/MainPage/MainPage.css
  src/Components/MainPage/MainPage.tsx
  src/assets/react.svg
Due: npm run lint, npm run format, npm run stylelint

feat: add .env file with keys of client API
  .env
Due: none

docs(RSS-ECOMM-1_17): update README
  README.md
Due: none

fix: rename .env to .env.example
  .env.example
  .gitignore
Due: none

fix: remove value from .env.example
  .env.example
Due: none

feat: add Router for Home, Sing In, Sing Up and ErrorPage
  package-lock.json
  package.json
  src/App.css
  src/App.tsx
  src/Components/MainPage/MainPage.css
  src/Components/MainPage/MainPage.tsx
  src/app/App.tsx
  src/app/Router.tsx
  src/index.css
  src/main.tsx
  src/pages/error-page/ErrorPage.tsx
  src/pages/home/Home.tsx
  src/pages/signin/Signin.tsx
  src/pages/signup/Signup.tsx
Due: npm run lint, npm run format, npm run stylelint

feat: add RouterConstants
  src/app/Router.tsx
  src/pages/error-page/ErrorPage.tsx
  src/pages/signin/Signin.tsx
  src/pages/signup/Signup.tsx
  src/types.ts
Due: npm run lint, npm run format

fix: replace routes with RouterConstants
  .github/pull_request_template.md
  README.md
  src/pages/home/Home.tsx
Due: npm run lint, npm run format

chore: move files to new folders, rename Signin to Login
  src/app/Router.tsx
  src/pages/ui/error-page/ErrorPage.tsx
  src/pages/ui/home/Home.tsx
  src/pages/ui/login/Login.tsx
  src/pages/ui/signup/Signup.tsx
Due: npm run lint, npm run format

chore: rename RoutesConstants to ROUTES
  src/app/Router.tsx
  src/pages/ui/error-page/ErrorPage.tsx
  src/pages/ui/home/Home.tsx
  src/pages/ui/login/Login.tsx
  src/pages/ui/signup/Signup.tsx
  src/types.ts
Due: npm run lint, npm run format

feat: add a form for entering mail and password to the login page
  src/pages/ui/login/Login.tsx
Due: npm run lint, npm run format

feat: add types for input events and InputProperties types
  src/types.ts
Due: npm run lint, npm run format

feat: add EmailInput component to widgets
  src/widgets/ui/EmailInput.tsx
Due: npm run lint, npm run format

feat: add the PasswordInput component to widgets
  src/widgets/ui/PasswordInput.tsx
Due: npm run lint, npm run format

feat: add styles for project and login page
  src/main.css
  src/main.tsx
  src/pages/ui/login/login.css
Due: npm run lint, npm run format, npm run stylelint

feat: add validation for email and password inputs
  src/pages/ui/login/Login.tsx
Due: npm run lint, npm run format

refactor: add destructuring to the EmailInput and PasswordInput components
  src/widgets/ui/EmailInput.tsx
  src/widgets/ui/PasswordInput.tsx
Due: npm run lint, npm run format

refactor: combine separate useEffects for fields into single useEffects for forms
  src/pages/ui/login/Login.tsx
Due: npm run lint, npm run format

chore: move the page folders to the top of the pages directory
  src/app/Router.tsx
  src/pages/error-page/ErrorPage.tsx
  src/pages/home/Home.tsx
  src/pages/login/Login.tsx
  src/pages/login/login.css
  src/pages/signup/Signup.tsx
Due: npm run lint, npm run format, npm run stylelint

chore: move validation-related functions to separate files
  src/Shared/validation/emailValidation.ts
  src/Shared/validation/passwordValidation.ts
  src/Shared/validation/useFomValidation.ts
  src/pages/login/Login.tsx
Due: npm run lint, npm run format

feat: add a check for the content of the leading or trailing whitespace
  src/Shared/validation/emailValidation.ts
  src/Shared/validation/passwordValidation.ts
  src/widgets/ui/EmailInput.tsx
  src/widgets/ui/PasswordInput.tsx
Due: npm run lint, npm run format

feat: add functionality to display and hide the password
  package-lock.json
  package.json
  src/pages/login/login.css
  src/widgets/ui/PasswordInput.tsx
Due: npm run lint, npm run format, npm run stylelint

feat: add base styles, fonts and favicon
  index.html
  public/favicon.svg
  public/vite.svg
  src/app/assets/fonts/Poppins-Bold.woff2
  src/app/assets/fonts/Poppins-Light.woff2
  src/app/assets/fonts/Poppins-Medium.woff2
  src/app/assets/fonts/Poppins-Regular.woff2
  src/app/assets/fonts/Poppins-SemiBold.woff2
  src/app/styles/base/fonts.css
  src/app/styles/base/settings.css
  src/app/styles/base/variables.css
  src/app/styles/main.css
  src/main.tsx
Due: npm run lint, npm run format, npm run stylelint

feat: implement Logo component and fix stylelint rules
  .stylelintrc.json
  src/Shared/ui/Logo/Logo.module.css
  src/Shared/ui/Logo/Logo.tsx
  src/Shared/ui/Logo/assets/img/sprout.svg
  src/Shared/ui/Logo/index.ts
  src/app/styles/base/variables.css
Due: npm run lint, npm run format, npm run stylelint

feat: implement Header component
  src/Shared/ui/Icon/CartIcon.tsx
  src/Shared/ui/Icon/ProfileIcon.tsx
  src/Shared/ui/Icon/WishlistIcon.tsx
  src/Shared/ui/Icon/index.ts
  src/types.ts
  src/widgets/ui/Header/index.ts
  src/widgets/ui/Header/ui/Header.module.css
  src/widgets/ui/Header/ui/Header.tsx
Due: npm run lint, npm run format, npm run stylelint

fix: correct font paths and line-height in global styles
  src/app/styles/base/fonts.css
  src/app/styles/base/settings.css
Due: npm run format, npm run stylelint

fix: disabled links without pages
  src/app/styles/base/settings.css
  src/widgets/ui/Header/ui/Header.tsx
Due: npm run lint, npm run format, npm run stylelint

feat: add all links in header to arrays, create elements from arrays, add ROUTES
  src/types.ts
  src/widgets/ui/Header/ui/Header.tsx
Due: npm run lint, npm run format

chore: change the first letter in Shared to uppercase, update the import
  src/Shared/validation/useFomValidation.ts
  src/pages/login/Login.tsx
Due: npm run lint, npm run format

chore: rename Shared to shared
  src/app/styles/base/settings.css
  src/shared/ui/Icon/CartIcon.tsx
  src/shared/ui/Icon/ProfileIcon.tsx
  src/shared/ui/Icon/WishlistIcon.tsx
  src/shared/ui/Icon/index.ts
  src/shared/ui/Logo/Logo.module.css
  src/shared/ui/Logo/Logo.tsx
  src/shared/ui/Logo/assets/img/sprout.svg
  src/shared/ui/Logo/index.ts
  src/shared/validation/emailValidation.ts
  src/shared/validation/passwordValidation.ts
  src/shared/validation/useFomValidation.ts
  src/widgets/ui/Header/ui/Header.tsx
Due: npm run lint, npm run format, npm run stylelint

feat: implement icon factory
  src/shared/ui/Icon/IconFactory.tsx
  src/shared/ui/Icon/index.ts
  src/widgets/ui/Header/ui/Header.tsx
Due: npm run lint, npm run format

chore: rename Sign Up page to Registration, update imports and routes
  src/app/Router.tsx
  src/pages/home/Home.tsx
  src/pages/login/Login.tsx
  src/pages/registration/Registration.tsx
  src/types.ts
  src/widgets/ui/Header/ui/Header.tsx
Due: npm run lint, npm run format

chore: add the react-hook-form library
  package-lock.json
  package.json
Due: none

feat: add basic markup of the registration form and validation for the email and login fields
  src/pages/registration/Registration.tsx
  src/pages/registration/registration.css
Due: npm run lint, npm run format, npm run stylelint
