Repository RobMarv1n/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format, npm run stylelint

.lintstagedrc.json:

{
  "src/**/*.{ts,js,tsx,jsx}": ["npm run lint", "npm run format"],
  "src/**/*.{css,scss}": ["npm run stylelint", "npm run format"]
}

feat: add filter by ratings
  src/pages/catalog/ui/Catalog.tsx
  src/pages/catalog/ui/ProductCard/ProductCard.tsx
  src/pages/catalog/ui/RatingList/RatingList.tsx
  src/pages/catalog/ui/RatingList/ratingList.css
  src/shared/api/clientApi/ClientApi.ts
  src/shared/api/clientApi/constants.ts
  src/shared/api/clientApi/parseProduct.ts
  src/shared/api/clientApi/types.ts
  src/shared/ui/RatingStars/RatingStars.tsx
  src/shared/ui/RatingStars/ratingStars.css
Due: npm run lint, npm run format, npm run stylelint

feat: add text content for required error
  src/shared/validation/cityValidation.ts
  src/shared/validation/zipCodeValidation.ts
Due: npm run lint, npm run format

feat: add isOpen props for open modal component
  src/shared/ui/Modal/Modal.tsx
Due: npm run lint, npm run format

feat: add functionality to open a form inside a modal window
  src/pages/profile/ui/components/AccountAddressForm.tsx
  src/pages/profile/ui/components/BillingAddress.tsx
  src/pages/profile/ui/components/ShippingAddress.tsx
Due: npm run lint, npm run format

feat: move constants with mock address data to a separate file
  src/pages/profile/model/DefaultAddresses.ts
Due: npm run lint, npm run format

feat: add AccountAddressFormProperties type, remove unused types
  src/pages/profile/types/types.ts
Due: npm run lint, npm run format

feat: add the option of adding a new address via the form in the modal
  src/pages/profile/ui/components/AccountAddresses.tsx
Due: npm run lint, npm run format

fix: fix error with open modal
  src/pages/profile/ui/components/AccountAddresses.tsx
  src/shared/ui/Modal/Modal.tsx
Due: npm run lint, npm run format

feat: add search and sorting
  src/pages/catalog/ui/Catalog.tsx
  src/pages/catalog/ui/ProductsList/ProductsList.tsx
  src/pages/catalog/ui/ProductsList/productsList.css
  src/pages/catalog/ui/SearchInput/SearchInput.tsx
  src/pages/catalog/ui/SortSelect/SortSelect.tsx
  src/shared/api/clientApi/ClientApi.ts
  src/shared/api/clientApi/types.ts
Due: npm run lint, npm run format, npm run stylelint

feat: add delete button for address form in Profile page
  src/pages/profile/ui/components/AccountAddressForm.tsx
Due: npm run lint, npm run format

feat: add showing and editing addresses
  src/pages/profile/types/types.ts
  src/pages/profile/ui/components/AccountAddressForm.tsx
  src/pages/profile/ui/components/AccountAddresses.tsx
  src/shared/api/clientApi/ClientApi.ts
  src/shared/api/clientApi/getCountry.ts
  src/shared/api/clientApi/parseProfileData.ts
  src/shared/api/clientApi/types.ts
Due: npm run lint, npm run format

fix: update DefaultProfileData constant
  src/shared/api/clientApi/constants.ts
Due: npm run lint, npm run format

feat: add styles for Profile page
  src/pages/profile/ui/Profile.tsx
  src/pages/profile/ui/components/AccountAddressForm.tsx
  src/pages/profile/ui/components/AccountAddresses.tsx
  src/pages/profile/ui/components/AccountSettings.tsx
  src/pages/profile/ui/components/PasswordChange.tsx
  src/pages/profile/ui/profile.css
  src/shared/styles/forms.css
Due: npm run lint, npm run format, npm run stylelint

feat: add creating new address
  src/pages/profile/ui/components/AccountAddressForm.tsx
  src/pages/profile/ui/components/AccountAddresses.tsx
  src/shared/api/clientApi/ClientApi.ts
Due: npm run lint, npm run format

feat: add styles and toggle func to Catalog page
  src/app/styles/base/settings.css
  src/pages/catalog/ui/Catalog.tsx
  src/pages/catalog/ui/CatalogNavigation/CatalogNavigation.css
  src/pages/catalog/ui/CatalogNavigation/CatalogNavigation.tsx
  src/pages/catalog/ui/CatalogPriceFilter/CatalogPriceFilter.css
  src/pages/catalog/ui/CatalogPriceFilter/CatalogPriceFilter.tsx
  src/pages/catalog/ui/FilterItem/FilterItem.css
  src/pages/catalog/ui/ProductCard/ProductCard.css
  src/pages/catalog/ui/ProductsList/productsList.css
  src/pages/catalog/ui/SearchInput/SearchInput.module.css
  src/pages/catalog/ui/catalog.css
  src/pages/login/login.css
  src/shared/ui/Button/Button.module.css
  src/shared/ui/Icon/FiltersIcon.tsx
Due: npm run lint, npm run format, npm run stylelint

feat: add address removing
  src/pages/profile/ui/components/AccountAddressForm.tsx
  src/shared/api/clientApi/ClientApi.ts
Due: npm run lint, npm run format

fix: add setAddresses to address form
  src/pages/profile/ui/components/AccountAddressForm.tsx
  src/pages/profile/ui/components/AccountAddresses.tsx
Due: npm run lint, npm run format

feat: implement cart page layout and styles
  public/green-capsicum-1.jpg
  src/app/Router.tsx
  src/app/styles/base/settings.css
  src/pages/cart/index.ts
  src/pages/cart/ui/Cart.module.css
  src/pages/cart/ui/Cart.tsx
  src/pages/cart/ui/CartCoupon/CartCoupon.module.css
  src/pages/cart/ui/CartCoupon/CartCoupon.tsx
  src/pages/cart/ui/CartPrice/CartPrice.module.css
  src/pages/cart/ui/CartPrice/CartPrice.tsx
  src/pages/cart/ui/CartProduct/CartProduct.module.css
  src/pages/cart/ui/CartProduct/CartProduct.tsx
  src/pages/cart/ui/CartProducts/CartProducts.module.css
  src/pages/cart/ui/CartProducts/CartProducts.tsx
  src/shared/ui/Counter/Counter.module.css
  src/shared/ui/Counter/Counter.tsx
  src/shared/ui/Counter/index.ts
  src/shared/ui/DeleteButton/DeleteButton.module.css
  src/shared/ui/DeleteButton/DeleteButton.tsx
  src/shared/ui/DeleteButton/index.ts
  src/shared/ui/LinkButton/LinkButton.module.css
  src/shared/ui/LinkButton/LinkButton.tsx
  src/widgets/ui/Header/ui/Header.tsx
Due: npm run lint, npm run format, npm run stylelint

feat: add Pagination component
  src/pages/catalog/ui/Catalog.tsx
  src/pages/catalog/ui/Pagination/Pagination.module.css
  src/pages/catalog/ui/Pagination/Pagination.tsx
Due: npm run lint, npm run format, npm run stylelint

feat: add button 'Add to Cart' to product card
  src/pages/catalog/ui/ProductCard/ProductCard.css
  src/pages/catalog/ui/ProductCard/ProductCard.tsx
Due: npm run lint, npm run format, npm run stylelint

feat: add CartActionButton component to Product page
  src/widgets/ui/ProductDetailed/ui/CartActionButton/CartActionButton.module.css
  src/widgets/ui/ProductDetailed/ui/CartActionButton/CartActionButton.tsx
  src/widgets/ui/ProductDetailed/ui/ProductDetailed.module.css
  src/widgets/ui/ProductDetailed/ui/ProductDetailed.tsx
Due: npm run lint, npm run format, npm run stylelint

feat: implement Counter functionality
  src/shared/ui/Counter/Counter.tsx
Due: npm run lint, npm run format

fix: change attr names
  src/shared/ui/Icon/FiltersIcon.tsx
Due: npm run lint, npm run format

feat: implement toast notifications
  package-lock.json
  package.json
  src/app/layouts/Layout.tsx
  src/widgets/ui/ProductDetailed/ui/CartActionButton/CartActionButton.tsx
  src/widgets/ui/ProductDetailed/ui/ProductDetailed.tsx
Due: npm run lint, npm run format

feat: add pagination for filters
  src/pages/catalog/ui/Catalog.tsx
  src/pages/catalog/ui/Pagination/Pagination.tsx
  src/shared/api/clientApi/ClientApi.ts
  src/shared/api/clientApi/constants.ts
  src/shared/api/clientApi/types.ts
Due: npm run lint, npm run format

feat: add pagination for search
  src/pages/catalog/ui/Catalog.tsx
  src/pages/catalog/ui/CatalogPriceFilter/CatalogPriceFilter.tsx
  src/shared/api/clientApi/ClientApi.ts
Due: npm run lint, npm run format

feat: add quantity products for cart icon, change Link to NavLink
  src/widgets/ui/Header/ui/CartIconWithCount/CartIconWithCount.module.css
  src/widgets/ui/Header/ui/CartIconWithCount/CartIconWithCount.tsx
  src/widgets/ui/Header/ui/Header.module.css
  src/widgets/ui/Header/ui/Header.tsx
Due: npm run lint, npm run format, npm run stylelint

style: fix styles for icons in Header
  src/shared/ui/LogOutButton/LogOutButton.module.css
  src/shared/ui/LogOutButton/LogOutButton.tsx
  src/widgets/ui/Header/ui/Header.module.css
  src/widgets/ui/Header/ui/Header.tsx
Due: npm run lint, npm run format, npm run stylelint

style: fix adaptive styles for Header
  src/widgets/ui/Header/ui/Header.module.css
Due: npm run format, npm run stylelint

style: add hover effect for DeleteButton
  src/shared/ui/DeleteButton/DeleteButton.module.css
Due: npm run format, npm run stylelint

style: fix line-height for counterBtn
  src/shared/ui/Counter/Counter.module.css
Due: npm run format, npm run stylelint

style: fix styles for Pagination
  src/pages/catalog/ui/Pagination/Pagination.module.css
  src/pages/catalog/ui/Pagination/Pagination.tsx
Due: npm run lint, npm run format, npm run stylelint

feat: add cart for catalog
  src/pages/catalog/ui/Catalog.tsx
  src/pages/catalog/ui/ProductCard/ProductCard.tsx
  src/pages/registration/ui/Registration.tsx
  src/shared/api/clientApi/ClientApi.ts
  src/shared/api/clientApi/constants.ts
  src/shared/api/clientApi/parseCartData.ts
  src/shared/api/clientApi/types.ts
Due: npm run lint, npm run format

feat: connect cart to counter in header
  src/app/Router.tsx
  src/app/layouts/Layout.tsx
  src/pages/catalog/ui/Catalog.tsx
  src/pages/catalog/ui/ProductCard/ProductCard.tsx
  src/pages/catalog/ui/ProductsList/ProductsList.tsx
  src/pages/login/Login.tsx
  src/shared/api/clientApi/ClientApi.ts
  src/widgets/ui/Header/ui/Header.tsx
Due: npm run lint, npm run format

test: add tests for Modal component
  src/shared/tests/Modal/Modal.test.tsx
Due: npm run lint, npm run format

feat: add cart for product page
  src/app/Router.tsx
  src/pages/catalog/ui/ProductCard/ProductCard.tsx
  src/pages/product/ui/Product.tsx
  src/shared/api/clientApi/ClientApi.ts
  src/shared/api/clientApi/parseCartData.ts
  src/shared/api/clientApi/types.ts
  src/widgets/ui/ProductDetailed/ui/CartActionButton/CartActionButton.tsx
  src/widgets/ui/ProductDetailed/ui/ProductDetailed.tsx
Due: npm run lint, npm run format

fix: update test for Header
  src/widgets/ui/tests/Header/header.test.tsx
Due: npm run lint, npm run format

feat: add cart for cart page between discount
  src/app/Router.tsx
  src/pages/cart/ui/Cart.tsx
  src/pages/cart/ui/CartPrice/CartPrice.tsx
  src/pages/cart/ui/CartProduct/CartCounter/CartCounter.module.css
  src/pages/cart/ui/CartProduct/CartCounter/CartCounter.tsx
  src/pages/cart/ui/CartProduct/CartCounter/index.ts
  src/pages/cart/ui/CartProduct/CartProduct.tsx
  src/pages/cart/ui/CartProducts/CartProducts.tsx
  src/shared/api/clientApi/ClientApi.ts
  src/shared/api/clientApi/constants.ts
  src/shared/api/clientApi/parseCartData.ts
  src/shared/api/clientApi/types.ts
  src/widgets/ui/ProductDetailed/ui/CartActionButton/CartActionButton.tsx
Due: npm run lint, npm run format, npm run stylelint

feat: add cart discounts
  src/pages/cart/ui/Cart.tsx
  src/pages/cart/ui/CartCoupon/CartCoupon.tsx
  src/pages/cart/ui/CartPrice/CartPrice.tsx
  src/pages/cart/ui/CartProduct/CartProduct.tsx
  src/pages/home/Home.module.css
  src/pages/home/Home.tsx
  src/shared/api/clientApi/ClientApi.ts
  src/shared/api/clientApi/constants.ts
  src/shared/api/clientApi/parseCartData.ts
  src/shared/api/clientApi/types.ts
Due: npm run lint, npm run format, npm run stylelint

feat: implement About Us page
  public/aleksey-zaderiy.jpg
  public/alexey-kandyba.jpg
  public/github.png
  public/logo-rs.svg
  public/sergey-elsukov.jpg
  src/app/Router.tsx
  src/app/styles/base/settings.css
  src/pages/about-us/index.ts
  src/pages/about-us/ui/AboutUs.module.css
  src/pages/about-us/ui/AboutUs.tsx
  src/pages/about-us/ui/ProfileCard/ProfileCard.module.css
  src/pages/about-us/ui/ProfileCard/ProfileCard.tsx
  src/widgets/ui/Header/ui/Header.tsx
Due: npm run lint, npm run format, npm run stylelint
