Repository RobMarv1n/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format, npm run stylelint

fix: add crossbox processing during registration
  src/pages/login/Login.tsx
  src/pages/registration/ui/Registration.tsx
  src/utils/clientApi/ClientApi.ts
Due: npm run lint, npm run format

chore: add config files for vitest, add new dependencies
  package-lock.json
  package.json
  setup.js
  tsconfig.app.json
  vitest.config.js
Due: none

chore: add coverage folder to gitignore
  .gitignore
Due: none

refactor: add button for show password in FormPasswordInput component, update styles
  src/shared/styles/forms.css
  src/widgets/ui/inputs/FormPasswordInput.tsx
Due: npm run lint, npm run format, npm run stylelint

test: add tests for FormInput component
  src/widgets/ui/tests/FormInput.test.tsx
Due: npm run lint, npm run format

test: add test for FormPasswordInput component
  src/widgets/ui/tests/FormPasswordInput.test.tsx
Due: npm run lint, npm run format

chore: move api-related files to a shared folder
  src/pages/login/Login.tsx
  src/pages/registration/ui/Registration.tsx
  src/shared/api/clientApi/ClientApi.ts
  src/shared/api/clientApi/CountryCodes.ts
  src/shared/api/clientApi/CreateApiRoots.ts
  src/shared/api/clientApi/types.ts
  src/widgets/ui/Header/ui/Header.tsx
Due: npm run lint, npm run format

chore: move the files FormPasswordInput.test, FormInput.test to another folder
  src/widgets/ui/tests/inputs/FormInput.test.tsx
  src/widgets/ui/tests/inputs/FormPasswordInput.test.tsx
Due: npm run lint, npm run format

test: add tests for Header.tsx
  src/widgets/ui/tests/Header/header.test.tsx
Due: npm run lint, npm run format

feat: add route for profile page
  src/app/Router.tsx
  src/pages/home/Home.tsx
Due: npm run lint, npm run format

feat: add new types for FormInput and for Profile page
  src/pages/profile/types/types.ts
  src/types.ts
Due: npm run lint, npm run format

feat: add new properties for FormInput
  src/widgets/ui/inputs/FormInput.tsx
Due: npm run lint, npm run format

feat: add address components for Profile page
  src/pages/profile/ui/components/AccountAddresses.tsx
  src/pages/profile/ui/components/BillingAddress.tsx
  src/pages/profile/ui/components/ShippingAddress.tsx
Due: npm run lint, npm run format

feat: add AccountSettings and PasswordChange components for Profile page
  src/pages/profile/ui/Profile.tsx
  src/pages/profile/ui/components/AccountSettings.tsx
  src/pages/profile/ui/components/PasswordChange.tsx
Due: npm run lint, npm run format

feat: add loading categories for catalog page
  src/app/Router.tsx
  src/pages/catalog/ui/Catalog.tsx
  src/pages/catalog/ui/CategoriesList/CategoriesList.css
  src/pages/catalog/ui/CategoriesList/CategoriesList.tsx
  src/pages/catalog/ui/FilterItem/FilterItem.css
  src/pages/catalog/ui/FilterItem/FilterItem.tsx
  src/pages/catalog/ui/FilterItem/assets/Vector.png
  src/shared/api/clientApi/ClientApi.ts
  src/shared/api/clientApi/types.ts
  src/widgets/ui/Header/ui/Header.tsx
Due: npm run lint, npm run format, npm run stylelint

feat: add api methods for products loading
  src/shared/api/clientApi/ClientApi.ts
  src/shared/api/clientApi/parseProduct.ts
  src/shared/api/clientApi/types.ts
Due: npm run lint, npm run format

feat: add product list
  src/pages/catalog/ui/Catalog.tsx
  src/pages/catalog/ui/CategoriesList/CategoriesList.css
  src/pages/catalog/ui/CategoriesList/CategoriesList.tsx
  src/pages/catalog/ui/FilterItem/FilterItem.css
  src/pages/catalog/ui/FilterItem/FilterItem.tsx
  src/pages/catalog/ui/ProductCard/ProductCard.css
  src/pages/catalog/ui/ProductCard/ProductCard.tsx
  src/pages/catalog/ui/ProductsList/ProductsList.tsx
  src/pages/catalog/ui/ProductsList/productsList.css
  src/pages/catalog/ui/catalog.css
  src/shared/api/clientApi/ClientApi.ts
Due: npm run lint, npm run format, npm run stylelint

feat: add dynamic addition of new addresses to the profile
  src/pages/profile/types/types.ts
  src/pages/profile/ui/components/AccountAddresses.tsx
Due: npm run lint, npm run format

feat: add edit mode for AccountSettings in Profile page
  src/pages/profile/ui/components/AccountSettings.tsx
  src/shared/validation/nameValidation.ts
Due: npm run lint, npm run format

feat: add router for product page
  src/app/Router.tsx
  src/pages/catalog/ui/ProductCard/ProductCard.tsx
  src/shared/api/clientApi/ClientApi.ts
  src/shared/api/clientApi/constants.ts
  src/shared/api/clientApi/parseProduct.ts
  src/types.ts
Due: npm run lint, npm run format

feat: add validation for PasswordChange component
  src/pages/profile/ui/components/PasswordChange.tsx
  src/shared/validation/passwordValidation.ts
Due: npm run lint, npm run format

feat: add type for DefaultAccountValues in AccountSettings component
  src/pages/profile/ui/components/AccountSettings.tsx
Due: npm run lint, npm run format

feat: add basic code for Product page
  src/app/Router.tsx
  src/pages/product/index.ts
  src/pages/product/ui/Product.module.css
  src/pages/product/ui/Product.tsx
Due: npm run lint, npm run format, npm run stylelint

feat: add ProductDetailed component
  src/app/styles/base/variables.css
  src/pages/product/ui/Product.tsx
  src/shared/ui/Button/Button.tsx
  src/shared/ui/Icon/CartIcon.tsx
  src/shared/ui/Icon/WishlistIcon.tsx
  src/widgets/ui/product-detailed/index.ts
  src/widgets/ui/product-detailed/ui/ProductDetailed.module.css
  src/widgets/ui/product-detailed/ui/ProductDetailed.tsx
Due: npm run lint, npm run format, npm run stylelint

refactor: move the logic of the address form to a separate component
  src/pages/profile/ui/components/AccountAddresses.tsx
  src/pages/profile/ui/components/AddressForm.tsx
  src/pages/profile/ui/components/BillingAddress.tsx
  src/pages/profile/ui/components/ShippingAddress.tsx
Due: npm run lint, npm run format

feat: add required message for Street input validation
  src/shared/validation/streetValidation.ts
Due: npm run lint, npm run format

feat: add SwiperSlider component
  package-lock.json
  package.json
  src/widgets/ui/product-detailed/ui/ProductDetailed.module.css
  src/widgets/ui/product-detailed/ui/ProductDetailed.tsx
  src/widgets/ui/product-detailed/ui/swiper-slider/SwiperSlider.tsx
Due: npm run lint, npm run format, npm run stylelint

feat: update types for Profile page
  src/pages/profile/types/types.ts
Due: npm run lint, npm run format

feat(RSS-ECOMM-3_12): add Modal component, implement enlarged image modal
  src/app/styles/base/variables.css
  src/shared/ui/Modal/Modal.module.css
  src/shared/ui/Modal/Modal.tsx
  src/shared/ui/Modal/index.ts
  src/widgets/ui/product-detailed/ui/ProductDetailed.module.css
  src/widgets/ui/product-detailed/ui/ProductDetailed.tsx
  src/widgets/ui/product-detailed/ui/swiper-slider/SwiperSlider.tsx
Due: npm run lint, npm run format, npm run stylelint

feat: add styles for Profile page
  src/pages/profile/ui/Profile.tsx
  src/pages/profile/ui/components/BillingAddress.tsx
  src/pages/profile/ui/components/ShippingAddress.tsx
  src/pages/profile/ui/profile.css
Due: npm run lint, npm run format, npm run stylelint

feat: add MakeDefault button for AddressForm
  src/pages/profile/ui/components/AccountAddresses.tsx
  src/pages/profile/ui/components/AddressForm.tsx
Due: npm run lint, npm run format

refactor: move SwiperSlider to shared/ui and rename product-detailed to ProductDetailed
  src/pages/product/ui/Product.tsx
  src/shared/ui/SwiperSlider/SwiperSlider.tsx
  src/widgets/ui/ProductDetailed/index.ts
  src/widgets/ui/ProductDetailed/ui/ProductDetailed.module.css
  src/widgets/ui/ProductDetailed/ui/ProductDetailed.tsx
Due: npm run lint, npm run format, npm run stylelint

style: add styles to ProductDetailed
  src/widgets/ui/ProductDetailed/ui/ProductDetailed.module.css
  src/widgets/ui/ProductDetailed/ui/ProductDetailed.tsx
Due: npm run lint, npm run format, npm run stylelint

feat: add catalog navigation
  src/pages/catalog/ui/Catalog.tsx
  src/pages/catalog/ui/CatalogNavigation/CatalogNavigation.css
  src/pages/catalog/ui/CatalogNavigation/CatalogNavigation.tsx
  src/pages/catalog/ui/CategoriesList/CategoriesList.tsx
  src/pages/catalog/ui/SubcategoriesList/SubcategoriesList.css
  src/pages/catalog/ui/SubcategoriesList/SubcategoriesList.tsx
  src/pages/catalog/ui/catalog.css
  src/shared/api/clientApi/ClientApi.ts
  src/shared/api/clientApi/constants.ts
  src/shared/api/clientApi/parseCategories.ts
  src/shared/api/clientApi/types.ts
Due: npm run lint, npm run format, npm run stylelint

feat: add SortSelect and SearchInput components
  src/pages/catalog/ui/Catalog.tsx
  src/pages/catalog/ui/SearchInput/SearchInput.module.css
  src/pages/catalog/ui/SearchInput/SearchInput.tsx
  src/pages/catalog/ui/SortSelect/SortSelect.module.css
  src/pages/catalog/ui/SortSelect/SortSelect.tsx
  src/pages/catalog/ui/catalog.css
Due: npm run lint, npm run format, npm run stylelint

feat: add accountSettingData updating
  src/pages/profile/ui/Profile.tsx
  src/pages/profile/ui/components/AccountSettings.tsx
  src/shared/api/clientApi/ClientApi.ts
  src/shared/api/clientApi/constants.ts
  src/shared/api/clientApi/createSignUpBody.ts
  src/shared/api/clientApi/parseProfileData.ts
  src/shared/api/clientApi/types.ts
  src/widgets/ui/Header/ui/Header.tsx
Due: npm run lint, npm run format

feat: add CatalogPriceFilter component
  src/pages/catalog/ui/Catalog.tsx
  src/pages/catalog/ui/CatalogPriceFilter/CatalogPriceFilter.css
  src/pages/catalog/ui/CatalogPriceFilter/CatalogPriceFilter.tsx
  src/pages/catalog/ui/SearchInput/SearchInput.module.css
  src/pages/catalog/ui/SortSelect/SortSelect.module.css
  src/pages/catalog/ui/catalog.css
Due: npm run lint, npm run format, npm run stylelint

feat: add UI of 'reset button' for filters
  src/pages/catalog/ui/Catalog.tsx
Due: npm run lint, npm run format

feat: add password update
  src/pages/profile/ui/components/AccountSettings.tsx
  src/pages/profile/ui/components/PasswordChange.tsx
  src/shared/api/clientApi/ClientApi.ts
  src/widgets/ui/Header/ui/Header.module.css
Due: npm run lint, npm run format, npm run stylelint

feat: add filter by prices
  src/pages/catalog/ui/Catalog.tsx
  src/pages/catalog/ui/CatalogPriceFilter/CatalogPriceFilter.tsx
  src/shared/api/clientApi/ClientApi.ts
  src/shared/api/clientApi/parseProduct.ts
  src/shared/api/clientApi/types.ts
Due: npm run lint, npm run format

Path conditions:
  npm run lint: any of: src/**/*.{ts,js,tsx,jsx}
  npm run format: (any of: src/**/*.{ts,js,tsx,jsx}) or (any of: src/**/*.{css,scss})
  npm run stylelint: any of: src/**/*.{css,scss}
